@mixin titulonota {
    color: map-get($colores, colorT);
    font-size: 3rem;
    text-align: center;
}

@mixin formatonoticia {
    border-radius: 5%;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 10px 5px grey;
    width: 50%;
    height: 90%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: map-get($colores, colorFondo);
}

@font-face {
    font-family: Asian;
    src: url("../../fuentes/asianButterfly.otf");
}

.layoutI{
    display: grid;
    grid-template-areas: 
        "headerI headerI"
        "tituloI tituloI"
        "subtituloI subtituloI"
        "nota1 aside"
        "nota2 aside"
        "footer footer";
    grid-template-columns: 75% 25%;
    grid-template-rows: 10% 25% 7% 30% 30% 8%;
}

.header{
    margin:0;
    padding:0;
    background-color: map-get($colores, colorHyF);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    img{
        margin: 1rem;
        width: 110px;
        height: 100px;
    }
    nav{
        width: 65%;
        ul{
            display: flex;
            list-style-type: none;
            font-size: 2rem;
            justify-content: space-between;
            margin-right: 20px;
            li{
                a{
                    text-decoration: none; 
                    color:   #FDF6EC;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-shadow: 1.5px 1.5px 1.5px map-get($colores, colorT);
                    transition: all 1s;
                    &:hover{
                        color: map-get($colores, colorT);
                    }
                }
            }
        }
    }
}

#headerI{
    grid-area: headerI;
}

.img-cinco{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/muchosgatos.jpg);
}

.tituloI{
    grid-area: tituloI;
    background-color: map-get($colores, colorFondo);
    h1{
        color: map-get($colores, colorT);
        font-size: 10rem;
        font-weight: bold;
        font-family: Asian;
        text-align: center;
        padding-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
}

.subtituloI{
    grid-area: subtituloI;
    background-color: map-get($colores, colorFondo);
    h2{
        color: map-get($colores, colorHyF);
        font-size: 4rem;
        text-align: left;
        margin: 25px;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 2rem;
    }
}

.nota1{
    grid-area: nota1;
    background-color: map-get($colores, colorFondo);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    h3{
        @include titulonota;
    }
    > div{
        @include formatonoticia;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.nota2{
    background-color: map-get($colores, colorFondo);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: nota2;
    flex-direction: row-reverse;
    padding-top: 15px;
    h3{
        @include titulonota;
    }
    > div{
        @include formatonoticia;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.imagenNotas{
    width: 40%;
    height: 90%;
    margin: 3rem;
    border-radius: 15%;
    box-shadow: 5px 5px 10px 5px map-get($colores, colorT);
}

.textoNotas{
    font-size: 1.3rem;
    text-align: justify;
    font-weight: 0.5rem;
    text-indent: 2rem;
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.formatoNotas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h2{
        color: map-get($colores, colorHyF);
        font-size: 3rem;
        text-align: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 2rem;
    }
}

table, th, tr, td{
    font-size: 1.3rem;
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.05);
}

.posicionTabla{
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: 5rem;
    flex-wrap: nowrap;
}

.ayuda{
    color: map-get($colores, colorHyF);
    font-size: 2.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 5px 5px 10px 5px grey;
    padding: 2rem 0.5rem 2rem 0.5rem;
    width: 80%;
}

.footer{
    grid-area: footer;
    background-color: map-get($colores, colorHyF);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    >h3{
        a{
            font-size: 1.8rem;
            text-decoration: none; 
            color:   #FDF6EC;
            font-weight: bold;
            text-transform: uppercase;
            text-shadow: 1.5px 1.5px 1.5px map-get($colores, colorT);
            transition: all 1s;
            &:hover{
                color: map-get($colores, colorT);
            }
        }
    }
    h4{
        font-size: 1.1rem;
        margin-left: 25px;
        color: brown;
    }
    >div{
        display: flex;
        justify-content: space-around;
        border: map-get($colores, colorT);
        background-color: map-get($colores, colorT);
        border-radius: 20px;
        margin: 20px;
        width: 40%;
    }
}

.logoRedes{
    width: 30px;
    height: 30px;
    margin: 15px;
}

@media screen and (max-width: 450px){
    .layoutI{
        display: grid;
        grid-template-areas:
        "headerI"
        "tituloI"
        "subtituloI"
        "nota1"
        "nota2"
        "aside"
        "footer";
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    .header{
        margin:0;
        padding:0;
        background-color: map-get($colores, colorHyF);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        nav{
            width: 100%;
            margin: 0rem 0rem 1rem 0.8rem;
            ul{
                display: flex;
                list-style-type: none;
                font-size: 1rem;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }
    }

    .parallax{
        background-attachment: unset;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 15rem;
        max-width: 100%;
        position: relative;
    }
    .parallax{
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }
    }

    .tituloI{
        h1{
            font-size: 8rem;
            padding-top: 2rem;
        }
    }
    .subtituloI{
        h2{
            font-size: 3rem;
            text-align: center;
            margin-bottom: 1rem;
            margin-top: 3rem;
        }
    }
    .nota1{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        width: 100%;
        > div{
            border-radius: 5%;
            padding: 1.5rem;
            background-color: rgba(0, 0, 0, 0.2);
            box-shadow: 5px 5px 10px 5px gray;
            width: 80%;
            margin-bottom: 2rem;
        }
        h3{
            font-size: 2rem;
            text-align: center;
            margin-top: 1.5rem;
            color: #a77a28
        }
    }
    .imagenNotas{
        width: 80%;
        height: 50%;
        padding: 1rem;
        flex-wrap: nowrap;
        margin-bottom: 2rem;
        align-items: center;
    }
    .formatoNotas{
        width: 80%;
        height: 50%;
        flex-wrap: nowrap;
        padding: 0%;
    }
    .textoNotas{
        font-size: 1.2rem;
        text-align: justify;
        text-indent: 2rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .nota2{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 0%;
        > div{
            border-radius: 5%;
            padding: 1.5rem;
            background-color: rgba(0, 0, 0, 0.2);
            box-shadow: 5px 5px 10px 5px gray;
            width: 80%;
            margin-bottom: 2rem;
        }
        h3{
            font-size: 2rem;
            text-align: center;
            margin-top: 1.5rem;
            color: #a77a28
        }
    }
    .ayuda{
        font-size: 2rem;
        text-align: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 5%;
        background-color: rgba(0, 0, 0, 0.05);
        box-shadow: 5px 5px 10px 5px grey;
        width: 80%;
        margin: 2rem 4rem 2rem 4rem;
    }
    .aside{
        h2{
        display: none;
        }
    }
    .posicionTabla{
        display: none;
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 2rem;
        >h3{
            a{
                font-size: 1.5rem;
            }
        }
        h4{
            text-align: center;
            font-size: 0.9rem;
            color: brown;
        }
        div{
            display: flex;
            justify-content: space-around;
            border: map-get($colores, colorT);
            background-color: map-get($colores, colorT);
            border-radius: 20px;
            width: 80%;
        }
    }
    .logoRedes{
        width: 30px;
        height: 30px;
        margin: 15px;
    }
}
