.img-uno{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/quienessomosp.jpg);
}

.parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35rem;
    max-width: 100%;
    position: relative;
}

.parallax{
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
}

#tituloQ{
    color: #B7CADB;
    font-size: 10rem;
    font-weight: bold;
    font-family: Asian;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quienesS{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.parrafoQ{
    display: flex;
    flex-direction: row-reverse;
    div{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}

.parrafoQ3{
    display: flex;
    flex-direction: row-reverse;
    height: 33rem;
    div{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}

.imagenNotasQ{
    width: 40%;
    margin: 3rem;
    border-radius: 15%;
    box-shadow: 5px 5px 10px 5px map-get($colores, colorT);
}

.parrafoQ2{
    display: flex;
    flex-direction: row;
    div{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}

.staffResponsive{
    display: none;
}

@media screen and (max-width: 450px){
    .img-uno{
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/quienessomosp.jpg);
        width: 360px;
    }

    .parallax{
        background-attachment:unset;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 15rem;
        width: 100%;
        position: relative;
    }

    .parallax{
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }
    }

    #tituloQ{
        color: #B7CADB;
        font-size: 8rem;
        font-weight: bold;
    }
    .quienesS{
        width: 80%;
    }

    .imagenNotasQ{
        display: none;
    }

    .imagenEquipo{
        width: 80%;
        margin: 3rem;
        border-radius: 15%;
        box-shadow: 5px 5px 10px 5px map-get($colores, colorT);
    }

    .staffResponsive{
        display: flex;
        flex-direction: column;
        h2{
            font-size: 3rem;
            text-align: center;
            margin-bottom: 0.7rem;
            margin-top: 2rem;
            color: #DAB88B;
        }
    }
}