#tituloT{
    color: #B7CADB;
    font-size: 10rem;
    font-weight: bold;
    font-family: Asian;
    text-align: center;
    padding-top: 2rem;
}

.img-dos{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/portadaRescate.jpg);
}

.parallax2{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35rem;
    max-width: 100%;
    position: relative;
}

.parallax2{
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
}

.nombreG{
    color: #B7CADB;
    font-size: 3rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 3rem;
}

.fotosTinder{
    height: 50rem;
    width: 40rem;
}

.textoTinder{
    width: 40rem;
}

.botonRedondo{
    margin: 2rem;
}

@media screen and (max-width: 450px){
    #tituloT{
        font-size: 8rem;
        padding-top: 0.5rem;
    }

    .img-dos{
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/portadaRescate.jpg);
    }
    
    .parallax2{
        background-attachment: unset;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 15rem;
        max-width: 100%;
        position: relative;
    }
    
    .parallax2{
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }
    }
}